node_modules
.env
/prompts
prompt*
gemini.md
/gemini
*.lock*
# Hardhat files
/cache
/artifacts
yarn.lock

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

artifacts/
cache/
.cache/
#deployments/
typechain-types/
ignition/
.npm/
.codeoss/
.bash_history
.local/
